{% extends 'base.html' %}

{% block content %}
<div class="container mt-4">
    <h2>{{ group.name }}</h2>
    <p><strong>Institution:</strong> {{ group.institution }}</p>
    <p><strong>Class:</strong> {{ group.class_level }}</p>
    <p><strong>Created by:</strong> {{ group.created_by.username }}</p>

    {% if user in group.members.all %}
        <p class="text-success">You are already a member of this group.</p>
        <a href="{% url 'group_chat' group.id %}" class="btn btn-info">Go to Chat</a>
    {% else %}
        <a href="{% url 'join_group' group.id %}" class="btn btn-success">Join Group</a>
    {% endif %}
</div>
{% endblock %}
